.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Baloo 2", cursive;
  font-size: large;
}

.content-wrap {
  flex: 1;
}

ul.browser-default {
  padding-left: 30px;
  margin-top: 10px;
  margin-bottom: 15px;
}
ul.browser-default li {
  list-style-type: initial;
}
